<launch>   

  <node name="velodyne_filter" pkg="traversable_mapping" type="velodyne_filter">
    <param name="topicSubscriber" value="/livox/lidar"/> 
    <param name="topicPublisher" value="/scan"/> 
    <param name="frameID" value="base_link"/> 
    <param name="robotHeight" value="0.85"/> 
    <param name="sensorHeight" value="0.74"/> 
    <param name="resolution" value="0.2"/> 
    <param name="visionAngle" value="180"/> 
  </node>

</launch>
